<div style="margin: 100px 80px;">

  <!-- Tooltip Example -->
  <!-- Hover, and positions -->
  <div id="simple-tooltip-positions" class="_mtxl">
    <div id="top" class="flex justify-left">
      Some text to&nbsp;<strong popoverPlacement="top" class="color-aqua" supreTooltip="Title for the top here">test</strong>&nbsp;with. Appears on Top.
    </div>
    <div id="right" class="flex justify-left">
      Some text to&nbsp;<strong popoverPlacement="right" class="color-aqua" supreTooltip="Title for the right here">test</strong>&nbsp;with. Appears on Right.
    </div>
    <div id="bottom" class="flex justify-left">
      Some text to&nbsp;<strong popoverPlacement="bottom" class="color-aqua" supreTooltip="Title for the bottom here">test</strong>&nbsp;with. Appears on Bottom.
    </div>
    <div id="left" class="flex justify-left">
      Some text to&nbsp;<strong popoverPlacement="left" class="color-aqua" supreTooltip="Title for the left here">test</strong>&nbsp;with. Appears on Left.
    </div>
    <div id="default" class="flex justify-left">
      Some text to&nbsp;<strong class="color-aqua" [disabled]="isDisabled" supreTooltip="Title for the top here">test</strong>&nbsp;with. Default position appear on Top. (is disabled?&nbsp;<strong class="_mt0">{{isDisabled}}</strong>)
    </div>
    <button id="toggleButton" class="-action" (click)="toggleDisabled()">Enable/Disable Above Tooltip and Bottom Right Dialog</button>
  </div>

  <!-- //\\//\\ show default-->

  <!-- Adding an icon -->
  <div id="simple-tooltip-with-icon" class="_mtxl">
    Some text to&nbsp;<strong class="color-aqua" supreTooltip="Title Goes Here" icon="u-supre-icon--QSR">test</strong>&nbsp;tooltips with an icon.
  </div>

  <!-- Add a description -->
  <div id="simple-tooltip-description" class="flex justify-left">
    Some text to&nbsp;<strong class="color-aqua" content="Description text" supreTooltip="Title for the Tooltip">test</strong>&nbsp;adding a description to a tooltip.
  </div>





  <!-- Dialog Example -->
  <div class="flex justify-center" style="margin-top: 100px;">
    <div class="flex _b1 border-gray" style="width: 600px;">
      <div class="flex-auto bg-ice border-white _br2">&nbsp;</div>
      <button class="-toolbar" disabled="disabled"><span class="u-supre-icon u-supre-icon--add-create"></span> Condition</button>
      <button class="-toolbar" supreTooltip="Clear All Conditions" [dialogDisabled]="isDisabled" [supreInlineDialog]="clearAllConditions" [onHover]="false"><span class="u-supre-icon u-supre-icon--refresh-clear"></span> Clear All</button>
    </div>
    <span class="_mls">(is dialog disabled?&nbsp;<strong class="_mt0">{{isDisabled}}</strong>)</span>
  </div>

  <!-- We can place this anywhere -->
  <supre-inline-dialog #clearAllConditions title="Clear All Conditions">
    <p class="_mbm">Are you sure you want to clear all attributes and conditions?</p>
    <div class="flex justify-end">
      <button class="-cancel-md" (click)="clearAllConditions.hide()">Cancel</button>
      <button class="-dialog bg-aqua"><span class="u-supre-icon u-supre-icon--refresh-clear"></span> Clear All</button>
    </div>
  </supre-inline-dialog>

  <!-- Close on click -->
  <div id="simple-tooltip-with-icon-close-onclick" class="_mtxl">
    Some text to&nbsp;<strong class="color-aqua" supreTooltip="Title Goes Here" closeTooltipOnClick="true" icon="u-supre-icon--QSR">test</strong>&nbsp;tooltips.  Will close on click of text.
  </div>

</div>