<div style="padding:100px 300px">
  <span class="js-topElement"
        suprePopoverBody="Body Top"
        suprePopoverHeader="Header Top"
        suprePopoverPosition="top">
    Element with popover on top.
  </span>
  <br>
  <span class="js-rightElement"
        suprePopoverBody="Body Right"
        suprePopoverHeader="Header Right"
        suprePopoverPosition="right">
    Element with popover on right.
  </span>
  <br>
  <span class="js-bottomElement"
        suprePopoverBody="Body Bottom"
        suprePopoverHeader="Header Bottom"
        suprePopoverPosition="bottom">
    Element with popover on bottom.
  </span>
  <br>
  <span class="js-leftElement"
        suprePopoverBody="Body Left"
        suprePopoverHeader="Header Left"
        suprePopoverPosition="left">
    Element with popover on left.
  </span>
</div>
